@font-face {
    font-family: 'ralewayregular';
    src: url('raleway/raleway-regular-webfont.eot');
    src: url('raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('raleway/raleway-regular-webfont.woff') format('woff'),
         url('raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('ralewaybold/raleway-bold-webfont.eot');
    src: url('ralewaybold/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ralewaybold/raleway-bold-webfont.woff2') format('woff2'),
         url('ralewaybold/raleway-bold-webfont.woff') format('woff'),
         url('ralewaybold/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: ralewayregular, ralewaybold, serif;
	font-weight: normal;
	margin-top: 0px;
}

header
{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#logo
{
	display: flex;
	align-items: baseline;
}

#logo img
{
	width: 25%;
	height: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

#menu
{
	width: 32%;
	display: flex;
	justify-content: space-between;
}

#menu nav
{
	height: 100%;
	display: flex;
	width: 100%;
}

#menu ul
{
	display: flex;
	list-style-type: none;
	width: 100%;
	height: auto;
	margin: 0%;
}

.navigation
{
	display: flex;
	width: 100%;
	height: auto;
}
#menu a
{
	color: black;
	text-decoration: none;
	display: flex;
	width: 100%;
	height: 100%;
	height: auto;
	padding-top: 50px;
	justify-content: center;
}

#inscription a
{
	font-family: ralewaybold;
	color: #0065FC;
}

.navigation a:hover
{
	color: #0065FC;
	border-top: 3px solid #0065FC;
}

#geo_filtres
{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#geo_filtres h2
{
	font-size: 13pt;
	font-family: ralewaybold;
}

#geo_filtres p
{
	font-size: 10pt;
}

#ville
{
	display: flex;
	flex-direction: row;
	width: 30%;
}

.fa-map-marker-alt
{
	background-color: #F2F2F2;
	border-radius: 12px 0px 0px 12px;
	padding: 16px;
	padding-right: 20px;
	margin: 0px;
	z-index: 3;
}

#ville p
{
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 100%;
	padding-left: 30px;
	margin: 0px;
	z-index: 1;
	text-align: left;
	font-family: ralewaybold;
}

#rechercher
{
	width: 25%;
}

#rechercher p
{
	background-color: #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
}

#rechercher .fa-search
{
	visibility: hidden;
	display: none;
}

#filtres
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	line-height: 50px;
}

#filtres h2
{
	margin-right: 2%;
}

#filtres p
{
	padding-right: 15px;
	height: 50px;
	border: 2px solid #F2F2F2;
	line-height: 50px;
	border-radius: 0px 25px 25px 0px;
	padding-left: 25px;
	font-family: ralewaybold;
	position: relative;
	right: 21px;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

#eco
{
	display: flex;
	padding-bottom: 10px;
}

#fam
{
	display: flex;
	padding-bottom: 10px;
}

#romantique
{
	display: flex;
	padding-bottom: 10px;
}

#animaux
{
	display: flex;
	padding-bottom: 10px;
}

.fa-money-bill-wave
{
	padding: 18px;
	padding-left: 17px;
	padding-right: 17px;
	border-radius: 30px 30px 30px 30px;
	color: #0065FC;
	background-color: #DEEBFF;
	z-index: 3;
}

.fa-child
{
	padding: 18px;
	padding-left: 21px;
	padding-right: 21px;
	border-radius: 30px 30px 30px 30px;
	color: #0065FC;
	background-color: #DEEBFF;
	z-index: 3;
}

.fa-heart
{
	padding: 18px;
	padding-left: 19px;
	padding-right: 19px;
	border-radius: 30px 30px 30px 30px;
	color: #0065FC;
	background-color: #DEEBFF;
	z-index: 3;
}

.fa-dog
{
	padding: 18px;
	border-radius: 30px 30px 30px 30px;
	color: #0065FC;
	background-color: #DEEBFF;
	z-index: 3;
}

.fa-info
{
	padding: 4px;
	padding-left: 8px;
	padding-right: 7px;
	border: 1px solid #F2F2F2;
	border-radius: 12px 12px 12px 12px;
	color: #0065FC;
	font-size: 10px;
	margin-right: 5px;
}

#info
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#info p 
{
	font-size: 8pt;
	margin-bottom: 20px;
}

#section_2
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#titre_section_2
{
	display: none;
	visibility: hidden;
}

#hebergements_ville
{
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 60%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 3%;
	padding-right: 3%;
}

#hebergements_ville h2
{
	display: flex;
	font-family: ralewaybold;
	justify-content: flex-start;
}

#annonces
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


#affichez_plus
{
	display: flex;
	justify-content: flex-start;
	font-family: ralewaybold;
	text-decoration: none;
	color: black;
}

/* Annonce N°1 ville */

#lien_hebergement_1
{
	text-decoration: none;
}

#annonce_1
{
	width: 30%;
	height: auto;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
}



#annonce_1 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_1 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_1
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_1 img
{
	width: 100%;
	height: auto;
	position: relative;
	top: -25px;
}

#etoile_bleu_1
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_1
{
	color: #F2F2F2;
	font-size: 12px;
}

/* Annonce N°2 ville */

#lien_hebergement_2
{
	text-decoration: none;
}

#annonce_2
{
	width: 30%;
	height: auto;
	background-color: white;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	box-shadow: 0px 0px 10px 1px #cecece;
}



#annonce_2 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_2 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_2
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_2 img
{
	width: 100%;
	height: auto;
	position: relative;
	top: -25px;
}

#etoile_bleu_2
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

/* Annonce N°3 Ville */

#lien_hebergement_3
{
	text-decoration: none;
}

#annonce_3
{
	width: 30%;
	height: auto;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
}



#annonce_3 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_3 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_3
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_3 img
{
	width: 100%;
	height: auto;
	position: relative;
	top: -25px;
}

#etoile_bleu_3
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_3
{
	color: #F2F2F2;
	font-size: 12px;
}

/* Annonce N°4 Ville */

#lien_hebergement_4
{
	text-decoration: none;
}

#annonce_4
{
	width: 30%;
	height: auto;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
	margin-top: 30px;
}



#annonce_4 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_4 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_4
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_4 img
{
	width: 100%;
	height: auto;
	position: relative;
	top: -65px;
}

#etoile_bleu_4
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_4
{
	color: #F2F2F2;
	font-size: 12px;
}

/* Annonce N°5 Ville */

#lien_hebergement_5
{
	text-decoration: none;
}

#annonce_5
{
	width: 30%;
	height: auto;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
	margin-top: 30px;
}


#annonce_5 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_5 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_5
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_5 img
{
	width: 100%;
	height: auto;
	position: relative;
	top: -25px;
}

#etoile_bleu_5
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_5
{
	color: #F2F2F2;
	font-size: 12px;
}

/* Annonce N°6 Ville */

#lien_hebergement_6
{
	text-decoration: none;
}

#annonce_6
{
	width: 30%;
	height: auto;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
	margin-top: 30px;
}


#annonce_6 h2
{
	font-size: 10pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: -5px;
}

#annonce_6 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 5px;
}

#img_annonce_6
{
	width: 100%;
	height: 115px;
	overflow: hidden;
}

#annonce_6 img
{
	width: 100%;
	height: auto;
	position: relative;
	bottom: 140px;
}

#etoile_bleu_6
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

/* ASIDE */

#populaires
{
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	width: 28%;
	height: 625px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

#titre_populaire
{
	display: flex;
	width: 92%;
	justify-content: space-between;
	align-items: center;
}


#populaires h2
{
	font-family: ralewaybold;
}

/* Annonce N°1 Populaire */


#populaire_1
{
	width: 90%;
	height: 145px;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
	background-color: white;
	overflow: hidden;
}

#lien_populaire_1
{
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

#texte_pop_1
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	padding-left: 5%;
}

#populaire_1 h2
{
	font-size: 13pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: 5px;
}

#populaire_1 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 50px;
	margin-top: 0px;
}

#img_pop_1
{
	width: 36%;
	height: 100%;
	overflow: hidden;
}

#populaire_1 img
{
	width: 225px;
	height: auto;
	position: relative;
	right: 50px;
	overflow: hidden;
}

#etoile_bleu_pop_1
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

/* Annonce N°2 Populaire */

#lien_populaire_2
{
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

#populaire_2
{
	width: 90%;
	height: 145px;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	box-shadow: 0px 0px 10px 1px #cecece;
}

#texte_pop_2
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 55%;
	padding-left: 5%;
}

#populaire_2 h2
{
	font-size: 13pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: 5px; 
}

#populaire_2 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 50px;
	margin-top: 0px;
}

#img_pop_2
{
	width: 36%;
	height: 100%;
	overflow: hidden;
}

#populaire_2 img
{
	width: 220px;
	height: auto;
	position: relative;
	right: 60px;
	bottom: 10px;
}

#etoile_bleu_pop_2
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_pop_2
{
	color: #F2F2F2;
	margin-left: 10px;
	font-size: 12px;
	margin-left: 0px;
}

/* Annonce N°3 Populaire */

#lien_populaire_3
{
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

#populaire_3
{
	width: 90%;
	height: 145px;
	background-color: white;
	overflow: hidden;
	border: 5px solid white;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 10px 1px #cecece;
}

#texte_pop_3
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	padding-left: 5%;
}

#populaire_3 h2
{
	font-size: 13pt;
	color: black;
	font-family: ralewaybold;
	margin-left: 10px;
	margin-bottom: 5px; 
}

#populaire_3 p
{
	font-size: 9pt;
	color: black;
	margin-left: 10px;
	margin-bottom: 50px;
	margin-top: 0px;
}

#img_pop_3
{
	width: 36%;
	height: auto;
	overflow: hidden;
}

#populaire_3 img
{
	width: 200px;
	height: auto;
	position: relative;
	right: 40px;
	bottom: 100px;
}

#etoile_bleu_pop_3
{
	color: #0065FC;
	margin-left: 10px;
	font-size: 12px;
}

#etoile_gris_pop_3
{
	color: #F2F2F2;
	margin-left: 10px;
	font-size: 12px;
	margin-left: 0px;
}

#section_3
{
	margin-bottom: 60px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}

#section_3 h2
{
	font-family: ralewaybold;
	margin-top: 60px;
}

#activites
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

/* Activité N°1 */

#lien_activite_1 
{
	text-decoration: none;
}
#img_activite_1
{
	width: 22%;
	height: 445px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_1 img
{
	position: relative;
	left: -150px;
	z-index: 1;
	box-shadow: 0px 1px 2px #F2F2F2;
}

#legende_activite_1
{
	position: absolute;
	background-color: white;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_1 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

/* Flex colonne activité N°2 et N°3 */

#activite_2_3
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22%;
}

/* Activité N°2 */

#lien_activite_2 
{
	text-decoration: none;
}
#img_activite_2
{
	width: 100%;
	height: 235px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_2 img
{
	position: relative;
	width: 100%;
	height: auto;
	bottom: 120px;
	z-index: 1;
}

#legende_activite_2
{
	position: absolute;
	background-color: white;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_2 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

/* Activité N°3 */

#lien_activite_3 
{
	text-decoration: none;
}
#img_activite_3
{
	width: 100%;
	height: 165px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_3 img
{
	position: relative;
	width: 100%;
	height: auto;
	bottom: 20px;
	z-index: 1;
}

#legende_activite_3
{
	position: absolute;
	background-color: white;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_3 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

/* Activité N°4 */

#lien_activite_4 
{
	text-decoration: none;
}
#img_activite_4
{
	width: 22%;
	height: 445px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_4 img
{
	position: relative;
	left: -150px;
	z-index: 1;
}

#legende_activite_4
{
	position: absolute;
	background-color: white;
	border-radius: 0px 0px 25px 25px;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_4 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

/* Flex colonne activité N°5 et N°6 */

#activite_5_6
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22%;
}

/* Activité N°5 */

#lien_activite_5 
{
	text-decoration: none;
}
#img_activite_5
{
	width: 100%;
	height: 210px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_5 img
{
	position: relative;
	z-index: 1;
	width: 100%;
	height: auto;
}

#legende_activite_5
{
	position: absolute;
	background-color: white;
	border-radius: 0px 0px 25px 25px;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_5 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

/* Activité N°6 */

#lien_activite_6 
{
	text-decoration: none;
}
#img_activite_6
{
	width: 100%;
	height: 210px;
	overflow: hidden;
	border-radius: 25px 25px 25px 25px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 10px 5px #F2F2F2;
}

#img_activite_6 img
{
	position: relative;
	z-index: 1;
	width: 100%;
}

#legende_activite_6
{
	position: absolute;
	background-color: white;
	border-radius: 0px 0px 25px 25px;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 55px;
}

#legende_activite_6 p
{
	padding-left: 20px;
	padding-right: auto;
	color: black;
	font-family: ralewaybold;
}

footer
{
	width: 100%;
	height: 220px;
	display: flex;
	background-color: #F2F2F2;
	padding-left: 50px;
}

#a_propos
{
	width: 33%;
}

#a_propos h1
{
	font-family: ralewaybold;
	font-size: 12pt;
	margin-top: 50px;
	margin-bottom: 20px;
}

#a_propos a
{
	text-decoration: none;
	color: black;
}

#a_propos ul
{
	padding: 0;
}

#a_propos li
{
	list-style-type: none;
	margin-bottom: 15px;
}

#nos_hebergements
{
	width: 33%;
}

#nos_hebergements h1
{
	font-family: ralewaybold;
	font-size: 12pt;
	margin-top: 50px;
	margin-bottom: 20px;
}


#nos_hebergements a
{
	text-decoration: none;
	color: black;
}

#nos_hebergements ul
{
	padding: 0;
}

#nos_hebergements li
{
	list-style-type: none;
	margin: 0;
	margin-bottom: 15px;
}

#assistance
{
	width: 33%;
}

#assistance h1
{
	font-family: ralewaybold;
	font-size: 12pt;
	margin-top: 50px;
	margin-bottom: 20px;
}

#assistance a
{
	text-decoration: none;
	color: black;
}

#assistance ul
{
	padding: 0;
}

#assistance li
{
	list-style-type: none;
	margin-bottom: 15px;
}



@media all and (max-width: 425px)
{
	body
	{
		width: 100%;
		margin: 0;
	}

	header 
	{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	#logo
	{
		padding-top: 5%;
		padding-left: 5%;
	}

	#logo img
	{
		padding: 0%;
	}

	#menu
	{
		width: 100%;
		height: auto;
	}

	#menu a 
	{
		padding-top: 30px;
	}

	#menu ul 
	{
		padding-left: 0%;
	}

	.navigation a 
	{
		width: 100%;
		padding-top: 0%;
		padding-bottom: 10px;
		border-bottom: 3px solid #F2F2F2;
	}

	.navigation a:hover
	{
		color: #0065FC;
		border-bottom: 3px solid #0065FC;
		border-top: none;
	}

	#inscription
	{
		position: absolute;
		top: 5px;
		right: 40px;
	}

	#geo_filtres
	{
		padding-top: 5%;
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}


	#ville
	{
		width: 100%;
		margin: auto;
	}

	#ville p
	{
		width: 90%;
	}

	#rechercher p
	{
		visibility: hidden;
		display: none;
		z-index: 1;
	}

	#rechercher .fa-search
	{
		visibility: visible;
		display: flex;
		background-color: #0065FC;
		border-radius: 15px 15px 15px 15px;
		padding-left: 18px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-right: 0;
		color: white;
		width: 32px;
		height: auto;
		position: relative;
		right: 15px;
		z-index: 3;
	}

	#filtres h1
	{
		width: 100%;
	}

	#filtres
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#filtres ul 
	{

		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
	}

	#filtres span 
	{
		margin-left: 0;
		margin-bottom: 12px;
	}

	#info p 
	{
		font-size: 15px;
	}

	.fa-info
	{
		font-size: 15px;
		margin-right: 10px;
	}

	#section_2
	{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	#populaires
	{
		width: 100%;
		border-radius: 0 0 0 0;
		justify-content: space-around;
		align-content: center;
		padding-right: 0;
		margin: 0%;

	}

	#hebergements_ville
	{
		width: 90%;
		height: 1400px;
		margin: auto;
		background-color: white;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		padding-right: 0;
	}

	#hebergements_ville h1
	{
		margin-top: 30px;
		margin-bottom: 10px;
	}

	#annonces
	{
		width: 100%;
		margin: auto;
	}

	#annonce_1
	{
		width: 100%;
		margin-bottom: 10px;
	}

	#annonce_2
	{
		width: 100%;
		margin-bottom: 10px;
	}

	#annonce_3
	{
		width: 100%;
		margin-bottom: 10px;
	}

	#annonce_4
	{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#annonce_5
	{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#annonce_6
	{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#section_3
	{
		width: 90%;
		margin: auto;
		flex-wrap: wrap;
	}

	#img_activite_1
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#activite_2_3
	{
		width: 100%;
	}

	#img_activite_2
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_3
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_4
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#activite_5_6
	{
		width: 100%;
	}

	#img_activite_5
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_6
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	footer
	{
		flex-direction: column;
		height: auto;
	}

	#a_propos
	{
		width: 100%;
	}

	#nos_hebergements
	{
		width: 100%;
	}

	#assistance
	{
		width: 100%;
	}


}



@media (min-width: 426px) and (max-width: 768px)
{
	body
	{
		width: 100%;
		margin: 0;
	}

	header 
	{
		width: 100%;
		display: flex;
		margin-bottom: 5%;
	}

	#logo
	{
		padding-left: 5%;
		width: 50%;
	}

	#logo img
	{
		padding: 0%;
		width: 50%;
		padding-top: 8%;
	}

	#menu
	{
		width: 70%;
		height: auto;
		padding-right: 5%;
	}

	#menu a 
	{
		padding-top: 30%;
	}

	#menu ul 
	{
		padding-left: 0%;
	}

	.navigation a 
	{
		width: 100%;
		padding-top: 0%;
		padding-bottom: 10px;
	}

	.navigation a:hover
	{
		color: #0065FC;
	}

	#inscription
	{
		padding-top: 7%;
	}


	#geo_filtres
	{
		padding-top: 5%;
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}


	#ville
	{
		width: 100%;
		margin: auto;
	}

	#ville p
	{
		width: 38%;
	}

	#rechercher p
	{
		z-index: 1;
		padding-left: 20px;
		padding-right: 20px;
	}

	

	#filtres h1
	{
		width: 100%;
	}

	#filtres
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#filtres ul 
	{

		padding-left: 0;
		margin-left: 0;
		margin-right: 0;
	}

	#filtres span 
	{
		margin-left: 0;
		margin-bottom: 12px;
	}

	#info p 
	{
		font-size: 15px;
	}

	.fa-info
	{
		font-size: 15px;
		margin-right: 10px;
	}

	#section_2
	{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	#populaires
	{
		width: 60%;
		justify-content: space-around;
		align-content: center;
		padding-right: 0;
		margin: auto;

	}

	#hebergements_ville
	{
		width: 95%;
		height: auto;
		margin: auto;
		background-color: white;
		justify-content: flex-start;
		align-content: flex-start;
		padding-right: 0;
	}

	#hebergements_ville h1
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#annonces
	{
		width: 100%;
		height: auto;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#annonce_1
	{
		width: 40%;
		margin-bottom: 10px;
	}

	#annonce_2
	{
		width: 40%;
		margin-bottom: 10px;
	}

	#annonce_3
	{
		width: 40%;
		margin-bottom: 10px;
	}

	#annonce_4
	{
		width: 40%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#annonce_5
	{
		width: 40%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#annonce_6
	{
		width: 40%;
		margin-bottom: 10px;
		margin-top: 0;
	}

	#affichez_plus
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#section_3
	{
		width: 90%;
		margin: auto;
		flex-wrap: wrap;
	}

	#img_activite_1
	{
		width: 45%;
		height: 400px;
		margin-bottom: 20px;
	}

	#activite_2_3
	{
		width: 45%;
	}

	#img_activite_2
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_3
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_4
	{
		width: 45%;
		height: 400px;
		margin-bottom: 20px;
	}

	#activite_5_6
	{
		width: 45%;
	}

	#img_activite_5
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	#img_activite_6
	{
		width: 100%;
		height: 190px;
		margin-bottom: 20px;
	}

	footer
	{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	#a_propos
	{
		width: 40%;
	}

	#nos_hebergements
	{
		width: 30%;
	}

	#a_propos
	{
		width: 30%;
	}

}









