@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.eot');
    src: url('raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff'),
         url('raleway-regular-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: ralewayregular, serif;
	font-weight: normal;
	max-width: 335px;
	width: 100%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#logo img
{
	width: 33%;
}

header nav ul
{
	list-style-type: none;
	display: flex;
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

header nav ul li
{
	margin: 0px;
	padding: 0px;
}

.navigation
{
	border-bottom: solid 3px #F2F2F2;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 30px;
}

.navigation a
{
	text-decoration: none;
	color: black;
}

.navigation a:hover
{
	color: #0065FC;
	border-bottom: solid 3px #0065FC;
	padding-bottom: 20px;
	/* probleme de superposition du hover */
}	

#inscription
{
	position: relative;
	top: -60px;
	left: -75px;
}

#inscription a
{
	color: #0065FC;
	font-weight: bold;
	text-decoration: none;
}

#geo_filtres h1
{
	width: 90%;
	font-size: 14pt;
	font-weight: bold;
	display: flex;
	/* Probleme de taille de police */
}

#ville
{
	display: flex;
	justify-content: space-between;
	margin: 0px;
	width: 100%;
}
.fa-map-marker-alt
{
	background-color: #F2F2F2;
	border-radius: 12px 0px 0px 12px;
	padding: 16px;
	padding-right: 20px;
	margin: 0px;
	z-index: 3;
	position: absolute;
}

#ville p
{
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	padding-top: 13px;
	padding-bottom: 14px;
	width: 250px;
	padding-left: 50px;
	margin: 0px;
	z-index: 1;
	text-align: left;
	position: relative;
}

.fa-search
{
	background-color: #0065FC;
	border-radius: 12px 12px 12px 12px;
	padding: 16px;
	padding-left: 20px;
	margin: 0px;
	color: white;
	z-index: 2;
	position: absolute;
	left: 323px;
}

#filtres ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

#filtres ul li
{
	margin-right: 30px;
}

@media all and (max-width: 425px)
{
	header
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#logo
	{
		display: flex;
	}
	#logo img
	{
		width: 27%;
	}
	
	header nav ul
	{
		list-style-type: none;
	}

	.navigation
	{
		border-bottom: solid 3px #F2F2F2;
		padding-bottom: 20px;
	}

	.navigation a
	{
		text-decoration: none;
		color: black;
	}

	.navigation a:hover
	{
		color: #0065FC;
		border-bottom: solid 3px #0065FC;
		border-top: none;
		padding-bottom: 20px;
	}	

	#inscription
	{
		position: relative;
	}

	#inscription a
	{
		color: #0065FC;
		font-weight: bold;
		text-decoration: none;
	}
}
